<style type="text/css">
  .img{
    border: 5px solid white;
    margin: 1px 0px 0px -120px;
     width: 800px;
     height: 600px;
  }

</style>


<img src="/assets/background.jpg" align="left"class="img"  >
<br>
  <h1 style="text-align: center; margin:20px 0px 0px 0px; " >Consultar</h1>

<select name="OS" class="btn btn-outline-info dropdown-toggle btn-lg"  style="margin:80px 0px 20px 120px; ">
   <option selected value="0"> Elige una opción </option>
       <optgroup label="Distritos"> 
       <option value="1">Miraflores</option> 
       <option value="2">Barranco</option> 
       <option value="3">Surco</option> 
   </optgroup> 
</select>
<br>
<select name="OS" class="btn btn-outline-info dropdown-toggle btn-lg"  style="margin:20px 0px 50px 120px; ">
   <option selected value="0"> Elige una opción </option>
       <optgroup label="Tipo de departamento"> 
       <option value="1">Duplex</option> 
       <option value="2">Flat</option> 
   </optgroup> 
</select>
<br>
<div style="text-align: center;">
 <a href="http://localhost:3000/proyecto_vista/proyecto" class="btn-outline-dark btn-lg" type="button">Prueba</a>


<%= button_to "Consultar", { :controller => "proyecto_vista", :action => "proyecto" }, :class => "btn btn-outline-dark btn-lg" %>
</div>




       
  <!-- Links -->
