<!DOCTYPE html>
<html lang="en">

<head>
         
    <style type="text/css">
      .cities {
        margin: 50px 100px 90px 300px;
        
      } 
      .label{
        margin: 0 0 0 500px;
      }
      
        #global {
        height: 200px;
        width: 250px;
        border: 1px solid black;
        background: white;
        overflow-y: scroll;
        text-align: left;
        margin:0px 250px 20px 120px;
      }
      #mensajes {
        height: center;
      }
      .texto {
        padding:30px;
        background:white;
      }
      .boton{
       
        margin: 30px 350px 90px 250px;
      }
      .prueba   {
        width: 300px
        height:200px;

        }
        .marco   {
       width:750px;
       margin:auto;
       height: 210px:;
        }
</style>
</head>

<body>
  <h1 style="text-align: center;">MIS COTIZACIONES</h1>

<div class="container">
           <br/>   <br/>
    <section class="listQuotes">
        <div class="col-lg-12">
            <div class="row">
        <article class="listQuotes__type active">
            <a href="http://localhost:3000/welcome/Cotizaciones" class="">
                <button type="button" class="btn btn-primary">Listado General </button>
                
            </a>
            
           </article>
            &nbsp;&nbsp;&nbsp; 
        <article class="listQuotes__type ">
            <a href="http://localhost:3000/welcome/Cotizaciones" class="">
                <button type="button" class="btn btn-warning">Cotizaciones Favoritas</button>
            </a>
        </article>
        </div>
</div>
            </section>   
            <br/><br/><br/>

        <section class="tableQuote">
            <div class="row">
        <div class="tableQuote__element tableQuote__element--result">
            <span class="span_color_blue">Resultado de la Búsqueda:</span>
            <span>0</span>
        </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
        <div class="tableQuote__element tableQuote__element--order">
            <span class="span_color_blue">Ordenar por: </span>
            <select class="selectOrderQuote" name="" id="selectOrderQuote">
                <option value="1" order-by="">Fecha de Cotización</option>
                <option value="2" order-by="">Proyecto</option>
                <option value="4" order-by="">Dormitorios</option>
                <option value="5" order-by="">Area</option>
                <option value="6" order-by="">Distrito</option>
                <option value="7" order-by="">Precio</option>
            </select>
        </div>
        </div>
        <article class="table">
            <div class="dataTable-wrapper dataTable-loading no-footer sortable fixed-columns"><div class="dataTable-top"></div><div class="dataTable-container">
            <table id="listGeneralQuote" class="table listTableQuote dataTable-table">
                <thead class="thead-light">
                    <tr>
                        <th data-sortable="false" style="width: 13.7234%;">F. Cotización</th>
                        <th data-sortable="false" style="width: 10.3191%;">Proyecto</th>
                        <th data-sortable="false" style="width: 13.5106%;">Inmobiliaria</th>
                        <th data-sortable="false" style="width: 8.29787%;">Dorm.</th>
                        <th data-sortable="false" style="width: 7.02128%;">Área<br>(m<sup>2</sup>)</th>
                        <th data-sortable="false" style="width: 9.25532%;">Distrito</th>
                        <th data-sortable="false" style="width: 13.7234%;">Precio Desde</th>
                        <th data-sortable="false" style="width: 15.4255%;">Calificación de<br> Cotizaciones</th>
                        <th data-sortable="false" style="width: 8.93617%;">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>San Isidro</td>
                      <td>Graña y Montero</td>
                      <td>@3</td>
                      <td>110</td>
                      <td>San Isidro</td>
                      <td>280,000</td>
                      <td>Alta</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                       <td>Miraflores</td>
                      <td>Odrebecht</td>
                      <td>@2</td>
                      <td>90</td>
                      <td>Miraflores</td>
                      <td>200,000</td>
                      <td>Media</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                       <td>Los Olivos</td>
                      <td>OAS</td>
                      <td>@1</td>
                      <td>70</td>
                      <td>Los Olivos</td>
                      <td>120,000</td>
                      <td>Baja</td>
                      <td></td>
                    </tr>
                    

                </tbody>
            </table>
        </div><div class="dataTable-bottom"><div class="dataTable-info"></div><div class="dataTable-pagination"></div></div></div>
        </article>
    </section>
</div>
</body>

  
