<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
                body {
                        background-image: url("/assets/iniSesion.jpg") ;
                        background-repeat: no-repeat;

                        background-size: 100%  
                         

                }

                          
  
        </style>     
        
            
      

        <title>Constructora UPC</title>
    </head>
    <body><br><br><br><br><br><br><br><br><br><br><br>

       
          
    <form name=form action="" method="post">
        <div class="container">
            <div class="top">                    
           
            </div>
            <div class="login-box animated fadeInUp" style="text-align: center">

                <div class="box-header">
                    <h2><font color="orange" size="7">Iniciar sesi칩n</font></h2>
                </div>

                <font color="orange" size="5"><label for="username" text= "blue">ID</label></font>
                <input type="text" id="username" name="id" placeholder="&#128272;ID" style="margin-left:10%; width:150px; margin-bottom:10px;" ><br>               
                
                <font color="orange" size="5"><label for="password">Contrase침a</label></font>
                <input type="password" id="password" name="pw" placeholder="&#128272;Contrase침a"  style="margin-left:1%; width:150px; margin-bottom:30px;"><br>

                <input type="hidden" name="action" value="login">
                <button type="submit"  onclick="go">Ingresar</button>              

                <a href=""><p class="small">Olvidaste tu contrase침a?</p></a>

            </div>

        </div>  
    </form> 
</body>

</html>
</html>
