<!DOCTYPE html>
<html lang="en">

<head>
         
    <style type="text/css">
      .cities {
        margin: 50px 100px 90px 300px;
        
      } 
      .label{
        margin: 0 0 0 500px;
      }
      
        #global {
        height: 200px;
        width: 250px;
        border: 1px solid black;
        background: white;
        overflow-y: scroll;
        text-align: left;
        margin:0px 250px 20px 120px;
      }
      #mensajes {
        height: center;
      }
      .texto {
        padding:30px;
        background:white;
      }
      .boton{
       
        margin: 30px 350px 90px 250px;
      }
      .prueba   {
        width: 300px
        height:200px;

        }
        .marco   {
       width:750px;
       margin:auto;
       height: 210px:;
        }
</style>
</head>

<body>
  <h1 style="text-align: center;">Registrar Proyecto</h1>

<div class="row">
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
</div>


</body>

  
