<br>
<table class="table" style="text-align: center;">
  <tr>
      <th>Proyecto Miraflores</th>
      <th colspan="10"></th>
    </tr>
  </thead>
  <tbody>
    <% 
      arrayTD = [0, 1, 2]
      arrayTR = [0] 
    %>
    
    <% arrayTR.each do |item| %>

    <tr>
     <% arrayTD.each do |item| %>
      <td>
          <img src="/assets/duplex1.jpg"width="400" height="400" >
          <div style="margin: 5px">
          <%= link_to "Cotizar" ' 
            :controller => "proyecto_vista", 
            :action => "PMiraflores" ', 
            :class => "btn btn-outline-dark" 
          %>
          </div>
        </td>
      <% end %>
    </tr>

    <% end %>

  </tbody>

   <tbody>
    <% 
      arrayTD = [0, 1, 2]
      arrayTR = [0] 
    %>
    
    <% arrayTR.each do |item| %>

    <tr>
     <% arrayTD.each do |item| %>
      <td>
          <img src="/assets/duplex2.jpg"width="400" height="400" >
          <div style="margin: 5px">
          <%= link_to "Cotizar"' 
            :controller => "proyecto_vista", 
            :action => "PMiraflores" } ' 
            :class => "btn btn-outline-dark"
          %>
          </div>
        </td>
      <% end %>
    </tr>

    <% end %>

  </tbody>

   <tbody>
    <% 
      arrayTD = [0, 1, 2]
      arrayTR = [0] 
    %>
    
    <% arrayTR.each do |item| %>

    <tr>
     <% arrayTD.each do |item| %>
      <td>
          <img src="/assets/duplex3.jpg"width="400" height="400" >
          <div style="margin: 5px">
          <%= link_to "Cotizar", { 
            :controller => "proyecto_vista", 
            :action => "PMiraflores" }, 
            :class => "btn btn-outline-dark" 
          %>
          </div>
        </td>
      <% end %>
    </tr>

    <% end %>

  </tbody>

</table>
 <thead>
    
    <!--<img src="images/Proy1.jpg" width="350" height="500" />
>>>>>>> e814b3345b7aeed063b5036609e898e2ce817ef5
    <img src="images/Proy2.jpg" width="350" height="500" />
    <img src="images/Proy3.jpg" width="350" height="500" />
    -->
  
