<head>
<link href="estilos.css" type="text/css" rel="styesheet">
</head>

<script type="text/javascript">
 
</script>
<style type="text/css">
  .img{
    border: 3px solid black;
    margin: 30px 0px 0px -90px;
     width: 400px;
     height: 450px;
     text-align: center;
  }

</style>
<body>

<div class="img">
	<h2>Proyecto Barranco</h2>
<img src="/assets/Proy3.jpg"width="350" height="350" >
</div>	

<div class="wrap">
		<form action="" class="formulario">
			<div class="radio">
				<h2>Radio Buttons</h2>
 
				<input type="radio" name="sexo" id="hombre" >
				<label for="hombre"style="visibility: hidden">Hombre</label>
		
				<input type="radio" name="sexo" id="mujer">
				<label for="mujer">Mujer</label>
		
				<input type="radio" name="sexo" id="alien">
				<label for="alien">Alien</label>
			</div>
		
			