<br>
<table class="table" style="text-align: center;">
  <tr>
      <th>Proyecto Miraflores</th>
      <th>Proyecto Barranco</th>
      <th>Proyecto Surco</th>
      <th colspan="10"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img src="/assets/Proy1.jpg"width="350" height="500" >
      
        <div style="margin: 5px" class="btn btn-outline-dark btn-lg">
        <%= link_to "Detalle", { :controller => "proyecto_vista", :action => "caracteristica" }, :class => "navbar-brand" %>
        </div>
      </td>
      <td>
        <img src="/assets/Proy2.jpg" width="350" height="500">
          <div style="margin: 5px" class="btn btn-outline-dark btn-lg">
        <%= button_to "Detalle"  %>
        </div>
      </td>
      <td>
        <img src="/assets/Proy3.jpg" width="350" height="500">
          <div style="margin: 5px" class="btn btn-outline-dark btn-lg">
        <%= button_to "Detalle"  %>
        </div>
      </td>
      


    </tr>


  </tbody>



</table>
 <thead>
    
		<!--<img src="images/Proy1.jpg" width="350" height="500" />
>>>>>>> e814b3345b7aeed063b5036609e898e2ce817ef5
		<img src="images/Proy2.jpg" width="350" height="500" />
		<img src="images/Proy3.jpg" width="350" height="500" />
		-->
	
