<br>
<table class="table" style="text-align: center;">
    <tr>
      
        <td><% @listProyecto.each do |proyecto| %><div>
          <!-- Usar image_path() de ruby on rails-->
          <img src="/assets/Proy2.jpg"width="350" height="500" >

      
          <div > <%= proyecto[1]%></div>

          <div style="margin: 5px">
          <%= link_to "Detalle", { :controller => "proyecto_vista", :action => "detalle", :id => proyecto[0] }, :class => "btn btn-outline-dark" %>
          </div></div>
        
      <% end %>

      </td>
    </tr>



</table>
 <thead>
    
		<!--<img src="images/Proy1.jpg" width="350" height="500" />
>>>>>>> e814b3345b7aeed063b5036609e898e2ce817ef5
		<img src="images/Proy2.jpg" width="350" height="500" />
		<img src="images/Proy3.jpg" width="350" height="500" />
		-->
	
